<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="main">
      <% if (successMessage.length> 0) { %>
        <div class="alert alert-success">
          <%= successMessage %>
          <div class="bar"></div>
        </div>
        <% } %>
        <% if (errorMessage.length> 0) { %>
          <div class="alert alert-error">
            <%= errorMessage %>
            <div class="bar"></div>
          </div>
          <% } %>
        <div id="header">
          <h1>Task Master</h1>
        </div>
        <div id="center">
          <div id="head">
            Admin Login 
          </div>
          <div id="login">
            <form action="/login" method="post">
              <div id="p">
                <div class="entries">Username : <input type="text" name="username" placeholder="Enter email"></div>
              <div class="entries" style="margin-left: -20px;">Password : <input type="password" name="password" placeholder="Enter Password"></div>
              </div>
              <input type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
      <script>
        // Get the flash message element
        const flashMessage = document.querySelector('.alert');
    
        // Function to hide the flash message after 10 seconds
        setTimeout(() => {
          flashMessage.classList.add('hidden');
        }, 10000); // 10 seconds in milliseconds
    
      </script>
</body>
</html>